/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
.card-style-2 {
    width: 350px;
    background-color:white;
    border-radius: 50px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}

.card-style-2 img {
    width: 60%;
    border-radius: 50%;
    display: inline;
    text-align: center;
}
.card-style-2 p {
    text-align: center;
    font-weight: 500px;
}
.card-style-2 h2 {
    text-align: center;
    display: flexbox;
}
.card-style-2 .animagram-footer i {
    display: block;
    justify-content: baseline;
}
.card-style-2 .animagram-header span {
    display: inline;
    justify-content: space-between;
}   




